In [23]:
# @title
from IPython.display import display, HTML

display(HTML("""
<script>
const firstCell = document.querySelector('.cell.code_cell');
if (firstCell) {
  firstCell.querySelector('.input').style.pointerEvents = 'none';
  firstCell.querySelector('.input').style.opacity = '0.5';
}
</script>
"""))

html = """
<div style="display:flex; flex-direction:column; align-items:center; text-align:center; gap:12px; padding:8px;">
  <h1 style="margin:0;">ðŸ‘‹ Welcome to <span style="color:#1E88E5;">Algopath Coding Academy</span>!</h1>

  <img src="https://raw.githubusercontent.com/sshariqali/mnist_pretrained_model/main/algopath_logo.jpg"
       alt="Algopath Coding Academy Logo"
       width="400"
       style="border-radius:15px; box-shadow:0 4px 12px rgba(0,0,0,0.2); max-width:100%; height:auto;" />

  <p style="font-size:16px; margin:0;">
    <em>Empowering young minds to think creatively, code intelligently, and build the future with AI.</em>
  </p>
</div>
"""

display(HTML(html))

## **What is Pandas?**

Welcome to this complete guide to Pandas - Python's most powerful data analysis library!

**Table of Contents:**
1. [Introduction to Pandas](#1)
2. [Creating Pandas Objects](#2)
3. [Basic DataFrame Inspection](#3)
4. [Indexing and Selection](#4)
5. [Filtering with Logical Conditions](#5)
6. [Assigning and Modifying Data](#6)
7. [Cleaning & Aggregation](#7)
8. [Advanced Topics](#8)

* * *

<a name='1'></a>
## **1. Introduction to Pandas**

### What is Pandas?

Pandas is an open-source Python library that provides high-performance, easy-to-use data structures and data analysis tools. It's built on top of NumPy and is essential for:
- Data cleaning and preparation
- Data analysis and exploration
- Time series analysis
- Statistical analysis

### Core Data Structures

Pandas has two primary data structures:
- **Series**: 1-dimensional labeled array (like a column in Excel)
- **DataFrame**: 2-dimensional labeled data structure (like a spreadsheet or SQL table)

### Importing Pandas

In [1]:
# Standard convention for importing Pandas
import pandas as pd
import numpy as np

# Check version
print(f"Pandas version: {pd.__version__}")

Pandas version: 2.2.2

---
<a name='2'></a>
## **2. Creating Pandas Objects**

### Creating a Series

In [2]:
# Creating a Series from a list
series_from_list = pd.Series([10, 20, 30, 40, 50])
print("Series from list:")
print(series_from_list)
print(f"\nType: {type(series_from_list)}")

Series from list:
0    10
1    20
2    30
3    40
4    50
dtype: int64

Type: <class 'pandas.core.series.Series'>

In [3]:
# Creating a Series from a dictionary
series_from_dict = pd.Series({
    'Apple': 5,
    'Banana': 3,
    'Orange': 7,
    'Mango': 2
})
print("Series from dictionary:")
print(series_from_dict)

Series from dictionary:
Apple     5
Banana    3
Orange    7
Mango     2
dtype: int64

### Creating a DataFrame

In [4]:
# Creating a DataFrame from a dictionary of lists
data_dict = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Age': [25, 30, 35, 28, 32],
    'City': ['New York', 'Paris', 'London', 'Tokyo', 'Berlin'],
    'Salary': [70000, 80000, 75000, 90000, 85000]
}

df = pd.DataFrame(data_dict)
print("DataFrame from dictionary of lists:")
print(df)

DataFrame from dictionary of lists:
      Name  Age      City  Salary
0    Alice   25  New York   70000
1      Bob   30     Paris   80000
2  Charlie   35    London   75000
3    Diana   28     Tokyo   90000
4      Eve   32    Berlin   85000

In [5]:
# Creating a DataFrame from a list of dictionaries
list_of_dicts = [
    {'Product': 'Laptop', 'Price': 1200, 'Stock': 15},
    {'Product': 'Mouse', 'Price': 25, 'Stock': 50},
    {'Product': 'Keyboard', 'Price': 75, 'Stock': 30},
    {'Product': 'Monitor', 'Price': 300, 'Stock': 20}
]

df_products = pd.DataFrame(list_of_dicts)
print("DataFrame from list of dictionaries:")
print(df_products)

DataFrame from list of dictionaries:
    Product  Price  Stock
0    Laptop   1200     15
1     Mouse     25     50
2  Keyboard     75     30
3   Monitor    300     20

### Loading Data from a File

In [6]:
# Loading data from CSV file
df_employees = pd.read_csv('employees.csv')
print("DataFrame loaded from CSV:")
print(df_employees)

DataFrame loaded from CSV:
            Name  Age   Department  Salary    JoinDate
0     John Smith   28  Engineering   95000  2020-01-15
1  Sarah Johnson   34    Marketing   82000  2019-05-22
2  Michael Brown   31  Engineering   98000  2018-11-10
3    Emily Davis   29           HR   72000  2021-03-08
4   David Wilson   42   Management  120000  2015-07-19
5  Lisa Anderson   26    Marketing   68000  2022-01-25
6   James Taylor   38  Engineering  105000  2017-09-14

---
<a name='3'></a>
## **3. Basic DataFrame Inspection**

### Viewing Data

In [7]:
# View first few rows (default is 5)
print("First 3 rows using .head():")
print(df_employees.head(3))
print("\n" + "="*50 + "\n")

# View last few rows
print("Last 2 rows using .tail():")
print(df_employees.tail(2))

First 3 rows using .head():
            Name  Age   Department  Salary    JoinDate
0     John Smith   28  Engineering   95000  2020-01-15
1  Sarah Johnson   34    Marketing   82000  2019-05-22
2  Michael Brown   31  Engineering   98000  2018-11-10

==================================================

Last 2 rows using .tail():
            Name  Age   Department  Salary    JoinDate
5  Lisa Anderson   26    Marketing   68000  2022-01-25
6   James Taylor   38  Engineering  105000  2017-09-14

### Getting DataFrame Information

In [8]:
# Get concise summary of the DataFrame
print("DataFrame Info:")
print(df_employees.info())
print("\n" + "="*50 + "\n")

# Get statistical summary
print("Statistical Description:")
print(df_employees.describe())

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        7 non-null      object
 1   Age         7 non-null      int64
 2   Department  7 non-null      object
 3   Salary      7 non-null      int64
 4   JoinDate    7 non-null      object
dtypes: int64(2), object(3)
memory usage: 412.0+ bytes
None

==================================================

Statistical Description:
             Age         Salary
count   7.000000       7.000000
mean   32.571429   91428.571429
std     5.769377   18581.865199
min    26.000000   68000.000000
25%    28.500000   77000.000000
50%    31.000000   95000.000000
75%    36.000000  101500.000000
max    42.000000  120000.000000

### Essential Attributes

In [9]:
# Shape: number of rows and columns
print(f"Shape (rows, columns): {df_employees.shape}")

# Column names
print(f"\nColumn names: {df_employees.columns.tolist()}")

# Index
print(f"\nIndex: {df_employees.index.tolist()}")

# Data types
print(f"\nData types:\n{df_employees.dtypes}")

Shape (rows, columns): (7, 5)

Column names: ['Name', 'Age', 'Department', 'Salary', 'JoinDate']

Index: [0, 1, 2, 3, 4, 5, 6]

Data types:
Name          object
Age            int64
Department    object
Salary         int64
JoinDate      object
dtype: object

---
<a name='4'></a>
## **4. Indexing and Selection**

### Selecting Columns

In [10]:
# Select a single column (returns a Series)
print("Single column selection (Name):")
print(df_employees['Name'])
print(f"\nType: {type(df_employees['Name'])}")

Single column selection (Name):
0       John Smith
1    Sarah Johnson
2    Michael Brown
3      Emily Davis
4     David Wilson
5    Lisa Anderson
6     James Taylor
Name: Name, dtype: object

Type: <class 'pandas.core.series.Series'>

In [11]:
# Select multiple columns (returns a DataFrame)
print("Multiple column selection:")
print(df_employees[['Name', 'Age', 'Salary']])
print(f"\nType: {type(df_employees[['Name', 'Age', 'Salary']])}")

Multiple column selection:
            Name  Age  Salary
0     John Smith   28   95000
1  Sarah Johnson   34   82000
2  Michael Brown   31   98000
3    Emily Davis   29   72000
4   David Wilson   42  120000
5  Lisa Anderson   26   68000
6   James Taylor   38  105000

Type: <class 'pandas.core.frame.DataFrame'>

### .iloc - Integer-position Based Selection

Use `.iloc` for selecting by integer position (like array indexing).

In [12]:
# Select a single row by position
print("First row using .iloc[0]:")
print(df_employees.iloc[0])
print("\n" + "="*50 + "\n")

# Select multiple rows
print("Rows 1-3 using .iloc[1:4]:")
print(df_employees.iloc[1:4])
print("\n" + "="*50 + "\n")

# Select specific rows and columns
print("Rows 0-2, Columns 0-2 using .iloc[0:3, 0:3]:")
print(df_employees.iloc[0:3, 0:3])

First row using .iloc[0]:
Name           John Smith
Age                    28
Department    Engineering
Salary              95000
JoinDate       2020-01-15
Name: 0, dtype: object

==================================================

Rows 1-3 using .iloc[1:4]:
            Name  Age   Department  Salary    JoinDate
1  Sarah Johnson   34    Marketing   82000  2019-05-22
2  Michael Brown   31  Engineering   98000  2018-11-10
3    Emily Davis   29           HR   72000  2021-03-08

==================================================

Rows 0-2, Columns 0-2 using .iloc[0:3, 0:3]:
            Name  Age   Department
0     John Smith   28  Engineering
1  Sarah Johnson   34    Marketing
2  Michael Brown   31  Engineering

### .loc - Label-based Selection

Use `.loc` for selecting by labels (index and column names).

In [13]:
# Select row by label (index)
print("Row with index 2 using .loc[2]:")
print(df_employees.loc[2])
print("\n" + "="*50 + "\n")

# Select specific rows and columns by label
print("Rows 0-2, specific columns using .loc:")
print(df_employees.loc[0:2, ['Name', 'Department', 'Salary']])
print("\n" + "="*50 + "\n")

# Select all rows, specific columns
print("All rows, Name and Age columns:")
print(df_employees.loc[:, ['Name', 'Age']])

Row with index 2 using .loc[2]:
Name          Michael Brown
Age                      31
Department      Engineering
Salary                98000
JoinDate         2018-11-10
Name: 2, dtype: object

==================================================

Rows 0-2, specific columns using .loc:
            Name   Department  Salary
0     John Smith  Engineering   95000
1  Sarah Johnson    Marketing   82000
2  Michael Brown  Engineering   98000

==================================================

All rows, Name and Age columns:
            Name  Age
0     John Smith   28
1  Sarah Johnson   34
2  Michael Brown   31
3    Emily Davis   29
4   David Wilson   42
5  Lisa Anderson   26
6   James Taylor   38

---
<a name='5'></a>
## **5. Filtering with Logical Conditions**

### Boolean Masks

In [14]:
# Create a boolean mask
age_mask = df_employees['Age'] > 30
print("Boolean mask for Age > 30:")
print(age_mask)
print(f"\nType: {type(age_mask)}")

Boolean mask for Age > 30:
0    False
1     True
2     True
3    False
4     True
5    False
6     True
Name: Age, dtype: bool

Type: <class 'pandas.core.series.Series'>

### Filtering with Single Conditions

In [15]:
# Filter employees older than 30
print("Employees older than 30:")
print(df_employees[df_employees['Age'] > 30])
print("\n" + "="*50 + "\n")

# Filter by department
print("Employees in Engineering:")
print(df_employees[df_employees['Department'] == 'Engineering'])

Employees older than 30:
            Name  Age   Department  Salary    JoinDate
1  Sarah Johnson   34    Marketing   82000  2019-05-22
2  Michael Brown   31  Engineering   98000  2018-11-10
4   David Wilson   42   Management  120000  2015-07-19
6   James Taylor   38  Engineering  105000  2017-09-14

==================================================

Employees in Engineering:
            Name  Age   Department  Salary    JoinDate
0     John Smith   28  Engineering   95000  2020-01-15
2  Michael Brown   31  Engineering   98000  2018-11-10
6   James Taylor   38  Engineering  105000  2017-09-14

### Filtering with Multiple Conditions

Use `&` for AND and `|` for OR. **Important:** Use parentheses around each condition!

In [16]:
# AND condition: Age > 30 AND Salary > 90000
print("Employees older than 30 AND earning more than 90000:")
print(df_employees[(df_employees['Age'] > 30) & (df_employees['Salary'] > 90000)])
print("\n" + "="*50 + "\n")

# OR condition: Department is Engineering OR Marketing
print("Employees in Engineering OR Marketing:")
print(df_employees[(df_employees['Department'] == 'Engineering') | (df_employees['Department'] == 'Marketing')])

Employees older than 30 AND earning more than 90000:
            Name  Age   Department  Salary    JoinDate
2  Michael Brown   31  Engineering   98000  2018-11-10
4   David Wilson   42   Management  120000  2015-07-19
6   James Taylor   38  Engineering  105000  2017-09-14

==================================================

Employees in Engineering OR Marketing:
            Name  Age   Department  Salary    JoinDate
0     John Smith   28  Engineering   95000  2020-01-15
1  Sarah Johnson   34    Marketing   82000  2019-05-22
2  Michael Brown   31  Engineering   98000  2018-11-10
5  Lisa Anderson   26    Marketing   68000  2022-01-25
6   James Taylor   38  Engineering  105000  2017-09-14

### Filtering with .isin()

Use `.isin()` to filter based on a list of values.

In [17]:
# Filter employees in specific departments
departments_of_interest = ['Engineering', 'HR', 'Management']
print(f"Employees in {departments_of_interest}:")
print(df_employees[df_employees['Department'].isin(departments_of_interest)])

Employees in ['Engineering', 'HR', 'Management']:
            Name  Age   Department  Salary    JoinDate
0     John Smith   28  Engineering   95000  2020-01-15
2  Michael Brown   31  Engineering   98000  2018-11-10
3    Emily Davis   29           HR   72000  2021-03-08
4   David Wilson   42   Management  120000  2015-07-19
6   James Taylor   38  Engineering  105000  2017-09-14

---
<a name='6'></a>
## **6. Assigning and Modifying Data**

### Creating New Columns

In [18]:
# Create a copy to avoid modifying the original
df_modified = df_employees.copy()

# Add a column with a scalar value
df_modified['Country'] = 'USA'

# Add a column based on calculations from other columns
df_modified['Annual_Bonus'] = df_modified['Salary'] * 0.10

# Add a column based on conditions
df_modified['Seniority'] = df_modified['Age'].apply(lambda x: 'Senior' if x >= 35 else 'Junior')

print("DataFrame with new columns:")
print(df_modified)

DataFrame with new columns:
            Name  Age   Department  Salary    JoinDate Country  Annual_Bonus  \
0     John Smith   28  Engineering   95000  2020-01-15     USA        9500.0
1  Sarah Johnson   34    Marketing   82000  2019-05-22     USA        8200.0
2  Michael Brown   31  Engineering   98000  2018-11-10     USA        9800.0
3    Emily Davis   29           HR   72000  2021-03-08     USA        7200.0
4   David Wilson   42   Management  120000  2015-07-19     USA       12000.0
5  Lisa Anderson   26    Marketing   68000  2022-01-25     USA        6800.0
6   James Taylor   38  Engineering  105000  2017-09-14     USA       10500.0

  Seniority
0    Junior
1    Junior
2    Junior
3    Junior
4    Senior
5    Junior
6    Senior

### Modifying Data Using .loc

In [19]:
# Modify a specific cell
df_modified.loc[0, 'Salary'] = 100000
print("After modifying first employee's salary:")
print(df_modified.head(3))
print("\n" + "="*50 + "\n")

# Modify multiple rows based on condition
df_modified.loc[df_modified['Department'] == 'Marketing', 'Annual_Bonus'] = 15000
print("After updating Marketing bonuses:")
print(df_modified[df_modified['Department'] == 'Marketing'])

After modifying first employee's salary:
            Name  Age   Department  Salary    JoinDate Country  Annual_Bonus  \
0     John Smith   28  Engineering  100000  2020-01-15     USA        9500.0
1  Sarah Johnson   34    Marketing   82000  2019-05-22     USA        8200.0
2  Michael Brown   31  Engineering   98000  2018-11-10     USA        9800.0

  Seniority
0    Junior
1    Junior
2    Junior

==================================================

After updating Marketing bonuses:
            Name  Age Department  Salary    JoinDate Country  Annual_Bonus  \
1  Sarah Johnson   34  Marketing   82000  2019-05-22     USA       15000.0
5  Lisa Anderson   26  Marketing   68000  2022-01-25     USA       15000.0

  Seniority
1    Junior
5    Junior

### âš ï¸ Warning: Chained Indexing

Chained indexing can lead to unexpected behavior. Always use `.loc` or `.iloc` for assignments.

In [ ]:
# BAD: Chained indexing (may not work as expected)
# df_modified[df_modified['Age'] > 30]['Salary'] = 100000  # Don't do this!

# GOOD: Using .loc
df_modified.loc[df_modified['Age'] > 30, 'Salary'] = df_modified.loc[df_modified['Age'] > 30, 'Salary'] + 5000
print("Correctly modified using .loc:")
print(df_modified[['Name', 'Age', 'Salary']])

---
<a name='7'></a>
## **7. Cleaning & Aggregation**

### Handling Missing Values

First, let's create a DataFrame with missing values.

In [20]:
# Create a DataFrame with missing values
data_with_nan = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Age': [25, np.nan, 35, 28, np.nan],
    'City': ['New York', 'Paris', np.nan, 'Tokyo', 'Berlin'],
    'Salary': [70000, 80000, 75000, np.nan, 85000]
}

df_nan = pd.DataFrame(data_with_nan)
print("DataFrame with missing values:")
print(df_nan)

DataFrame with missing values:
      Name   Age      City   Salary
0    Alice  25.0  New York  70000.0
1      Bob   NaN     Paris  80000.0
2  Charlie  35.0       NaN  75000.0
3    Diana  28.0     Tokyo      NaN
4      Eve   NaN    Berlin  85000.0

In [21]:
# Check for missing values
print("Missing values count:")
print(df_nan.isnull().sum())
print("\n" + "="*50 + "\n")

# Drop rows with any missing values
print("After dropping rows with missing values:")
print(df_nan.dropna())
print("\n" + "="*50 + "\n")

# Fill missing values with a specific value
print("After filling missing values:")
df_filled = df_nan.fillna({'Age': df_nan['Age'].mean(), 'City': 'Unknown', 'Salary': 0})
print(df_filled)

Missing values count:
Name      0
Age       2
City      1
Salary    1
dtype: int64

==================================================

After dropping rows with missing values:
    Name   Age      City   Salary
0  Alice  25.0  New York  70000.0

==================================================

After filling missing values:
      Name        Age      City   Salary
0    Alice  25.000000  New York  70000.0
1      Bob  29.333333     Paris  80000.0
2  Charlie  35.000000   Unknown  75000.0
3    Diana  28.000000     Tokyo      0.0
4      Eve  29.333333    Berlin  85000.0

### Basic Aggregation with .groupby()

GroupBy allows you to split data into groups and apply functions to each group.

In [22]:
# Group by Department and calculate mean salary
print("Average salary by department:")
print(df_employees.groupby('Department')['Salary'].mean())
print("\n" + "="*50 + "\n")

# Multiple aggregations
print("Statistics by department:")
print(df_employees.groupby('Department')['Salary'].agg(['mean', 'min', 'max', 'count']))
print("\n" + "="*50 + "\n")

# Group by and aggregate multiple columns
print("Age and Salary statistics by department:")
print(df_employees.groupby('Department')[['Age', 'Salary']].mean())

Average salary by department:
Department
Engineering     99333.333333
HR              72000.000000
Management     120000.000000
Marketing       75000.000000
Name: Salary, dtype: float64

==================================================

Statistics by department:
                      mean     min     max  count
Department
Engineering   99333.333333   95000  105000      3
HR            72000.000000   72000   72000      1
Management   120000.000000  120000  120000      1
Marketing     75000.000000   68000   82000      2

==================================================

Age and Salary statistics by department:
                   Age         Salary
Department
Engineering  32.333333   99333.333333
HR           29.000000   72000.000000
Management   42.000000  120000.000000
Marketing    30.000000   75000.000000

---
<a name='8'></a>
## **8. Advanced Topics (Optional Preview)**

### Combining DataFrames

In [ ]:
# Create sample DataFrames for merging
df1 = pd.DataFrame({
    'EmployeeID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Department': ['IT', 'HR', 'IT', 'Sales']
})

df2 = pd.DataFrame({
    'EmployeeID': [1, 2, 3, 5],
    'Salary': [70000, 65000, 75000, 68000],
    'Years': [3, 5, 2, 4]
})

# Merge DataFrames (like SQL JOIN)
print("Merged DataFrame (inner join):")
merged_df = pd.merge(df1, df2, on='EmployeeID', how='inner')
print(merged_df)
print("\n" + "="*50 + "\n")

# Outer join to keep all records
print("Merged DataFrame (outer join):")
merged_outer = pd.merge(df1, df2, on='EmployeeID', how='outer')
print(merged_outer)

In [ ]:
# Concatenate DataFrames vertically
df_a = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df_b = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

print("Concatenated DataFrames:")
concatenated = pd.concat([df_a, df_b], ignore_index=True)
print(concatenated)

### Applying Custom Functions

Use `.apply()` and `.map()` to apply custom transformations.

In [ ]:
# Apply a function to a column
def salary_category(salary):
    if salary < 70000:
        return 'Low'
    elif salary < 90000:
        return 'Medium'
    else:
        return 'High'

df_employees['Salary_Category'] = df_employees['Salary'].apply(salary_category)
print("DataFrame with salary categories:")
print(df_employees[['Name', 'Salary', 'Salary_Category']])
print("\n" + "="*50 + "\n")

# Using lambda functions
df_employees['Name_Length'] = df_employees['Name'].apply(lambda x: len(x))
print("DataFrame with name lengths:")
print(df_employees[['Name', 'Name_Length']])

In [ ]:
# Using .map() with a dictionary
department_mapping = {
    'Engineering': 'Tech',
    'Marketing': 'Business',
    'HR': 'Support',
    'Management': 'Leadership'
}

df_employees['Department_Category'] = df_employees['Department'].map(department_mapping)
print("DataFrame with department categories:")
print(df_employees[['Name', 'Department', 'Department_Category']])

### Reshaping Data with .pivot_table()

Pivot tables help reorganize and summarize data.

In [ ]:
# Create sample sales data
sales_data = {
    'Date': ['2024-01', '2024-01', '2024-02', '2024-02', '2024-01', '2024-02'],
    'Product': ['Laptop', 'Mouse', 'Laptop', 'Mouse', 'Keyboard', 'Keyboard'],
    'Region': ['North', 'South', 'North', 'South', 'North', 'South'],
    'Sales': [1200, 25, 1500, 30, 75, 80]
}

df_sales = pd.DataFrame(sales_data)
print("Sales data:")
print(df_sales)
print("\n" + "="*50 + "\n")

# Create a pivot table
pivot = df_sales.pivot_table(
    values='Sales',
    index='Product',
    columns='Region',
    aggfunc='sum',
    fill_value=0
)
print("Pivot table - Sales by Product and Region:")
print(pivot)

### Working with Text Data (.str accessor)

The `.str` accessor provides string methods for Series.

In [ ]:
# String operations
print("Names in uppercase:")
print(df_employees['Name'].str.upper())
print("\n" + "="*50 + "\n")

# String contains
print("Employees with 'son' in their name:")
print(df_employees[df_employees['Name'].str.contains('son', case=False)])
print("\n" + "="*50 + "\n")

# String split
print("First names:")
print(df_employees['Name'].str.split().str[0])
print("\n" + "="*50 + "\n")

# String replace
print("Names with 'John' replaced by 'Jonathan':")
print(df_employees['Name'].str.replace('John', 'Jonathan'))

### Working with Datetime

Pandas has powerful datetime functionality for time series analysis.

In [ ]:
# Convert string to datetime
df_employees['JoinDate'] = pd.to_datetime(df_employees['JoinDate'])
print("DataFrame with datetime:")
print(df_employees[['Name', 'JoinDate']])
print(f"\nData type of JoinDate: {df_employees['JoinDate'].dtype}")
print("\n" + "="*50 + "\n")

# Extract date components
df_employees['JoinYear'] = df_employees['JoinDate'].dt.year
df_employees['JoinMonth'] = df_employees['JoinDate'].dt.month
df_employees['JoinDayOfWeek'] = df_employees['JoinDate'].dt.day_name()

print("Date components:")
print(df_employees[['Name', 'JoinDate', 'JoinYear', 'JoinMonth', 'JoinDayOfWeek']])
print("\n" + "="*50 + "\n")

# Calculate time differences
df_employees['DaysEmployed'] = (pd.Timestamp.now() - df_employees['JoinDate']).dt.days
print("Days employed:")
print(df_employees[['Name', 'JoinDate', 'DaysEmployed']].sort_values('DaysEmployed', ascending=False))

---

## **ðŸŽ‰ Conclusion**

Congratulations! You've completed this comprehensive Pandas tutorial covering:

âœ… **Basics**: Series, DataFrames, importing data  
âœ… **Inspection**: head(), tail(), info(), describe()  
âœ… **Selection**: Column selection, .iloc, .loc  
âœ… **Filtering**: Boolean masks, multiple conditions, .isin()  
âœ… **Modification**: Creating columns, updating values  
âœ… **Cleaning**: Handling missing values, groupby aggregations  
âœ… **Advanced**: Merging, applying functions, pivot tables, string operations, datetime

### Next Steps:

1. **Practice**: Work with real datasets (Kaggle, UCI Machine Learning Repository)
2. **Visualization**: Learn Matplotlib or Seaborn for data visualization
3. **Performance**: Explore Pandas performance optimization techniques
4. **Advanced**: Study time series, multi-indexing, and custom aggregations

### Useful Resources:

- Official Documentation: https://pandas.pydata.org/docs/
- 10 Minutes to Pandas: https://pandas.pydata.org/docs/user_guide/10min.html

Happy Data Analysis! ðŸ“ŠðŸ¼